.review__container {
  margin: 50px auto;
}
.review-checkout-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: .6rem;
  background: #ff9900;
  border-radius: 4px;
}
